<a href="https://colab.research.google.com/github/datasci-sharmi/data-science-project/blob/main/Datascience_project_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Task 2: Data Cleaning & Preprocessing - Titanic Dataset (Stanford version)

import pandas as pd

# Load dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)

# Display first few rows
print("Dataset Head:")
print(df.head())

print("\nInitial shape:", df.shape)

# --------------------
# 1. Handle Missing Values
# --------------------
print("\nMissing values before handling:")
print(df.isnull().sum())

# Fill missing 'Age' with median
if "Age" in df.columns:
    df['Age'].fillna(df['Age'].median(), inplace=True)

# --------------------
# 2. Remove Duplicates
# --------------------
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"\nDuplicates removed: {before - after}")

# --------------------
# 3. Encode Categorical Variables
# --------------------
# Encode 'Sex' (Male/Female â†’ 0/1)
if "Sex" in df.columns:
    df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# (No 'Embarked' column in this dataset, so we skip it)

# --------------------
# Final Check
# --------------------
print("\nCleaned dataset info:")
print(df.info())

print("\nSample after cleaning:")
print(df.head())

Dataset Head:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Initial shape: (887, 8)

Missing values before handling:
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

Duplicates removed: 0

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    int64
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 55.6+ KB
None

Sample after cleaning:
   Survived  Pclass                                               Name  Sex  \
0         0       3                             Mr. Owen Harris Braund    0
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...    1
2         1       3                              Miss. Laina Heikkinen    1
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle    1
4         0       3                            Mr. William Henry Allen    0

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0  22.0                        1                        0   7.2500
1  38.0                        1                        0  71.2833
2  26.0                        0                        0   7.9250
3  35.0                        1                        0  53.1000
4  35.0                        0                        0   8.0500

/tmp/ipython-input-393778658.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)